<h1>Upload de Arquivo</h1>
<div class="custom-file">
  <input
    type="file"
    class="custom-file-input"
    id="customFile"
    (change)="onChange($event)"
  />
  <label id="customFileLabel" class="custom-file-label" for="customFile"
    >Selecione um arquivo.</label
  >
  <div class="progress" *ngIf="files">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="progress + '%'"
    >
      {{ progress }}%
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary"
  (click)="onUpload()"
  [disabled]="!files"
>
  Enviar
</button>

<button
  type="button"
  class="btn btn-primary"
  (click)="onDownloadExcel()"
>
  Download Excel
</button>

<button
  type="button"
  class="btn btn-primary"
  (click)="onDownloadPDF()"
>
  Download PDF
</button>