<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          placeholder="Reactive search"
          [formControl]="queryField"
        />
      </div>
      <div class="col-auto">
          <a class="btn btn-large btn-block btn-success" role="button" (click)="onSearch()">Procurar</a>
      </div>
    </div>
  </div>
  <div class="search-list" >
    <h3 *ngIf="total">{{ total }} Resultados Encontrados</h3>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Versão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
        <td>{{ result.name }}</td>
        <td>{{ result.version }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
